[submodule "contrib/Catch2"]
	path = contrib/Catch2
	url = https://github.com/catchorg/Catch2.git
	tag = v3.7.1
[submodule "contrib/FakeIt"]
	path = contrib/FakeIt
	url = https://github.com/eranpeer/FakeIt.git
    tag = 2.4.1